.detail {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.container {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.image {
  width: 200px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 20px;
}

.id {
  font-size: 18px;
  margin-bottom: 10px;
}

.text {
  font-size: 16px;
  margin-bottom: 10px;
}

.text:last-child {
  margin-bottom: 0;
}