@import url('https://fonts.googleapis.com/css2?family=Abel&family=Pangolin&display=swap');

.card {
  position: relative;
  width: 300px;
  height: 400px;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease;
  background-color: rgba(140, 189, 232, 0.5);
}

.card:hover {
  transform: translateY(-10px);
}

.infoContainer {
  color: black;
  font-family: 'Abel', sans-serif;
  text-align: center;
}

.imgContainer {
  height: 200px;
  width: 300px;
}

.nameCountry {
  margin: 0;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.button {
  background-color: rgb(169, 217, 233);
  border-radius: 20px;
  height: 35px;
  width: 100px;
  font-family: 'Abel', sans-serif;
  font-size: 15px;
  color: black;
  cursor: pointer;
}